<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="peg-products">
        <ion-icon name="pricetags"></ion-icon>
        <ion-label>PEG</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="elisa">
        <ion-icon name="albums"></ion-icon>
        <ion-label>ELISA</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="intermediates">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Organic Intermediates</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
